{
   "parser": "babel-eslint",
   "extends": ["react", "plugin:jest/recommended"],
   "env": {
      "browser": true,
      "node": true,
      "jest": true
   },
   "settings": {
      "react": {
         "version": "detect"
      }
   },
   "rules": {
      "indent": ["error", 3],
      "comma-dangle": ["error", "always-multiline"],
      "quotes": ["error", "single", { "avoidEscape": true }]
   },
   "plugins": ["jest", "react"]
}
