{
   "parser": "babel-eslint",
   "extends": ["react", "plugin:jest/recommended", "plugin:prettier/recommended", "plugin:react-hooks/recommended"],
   "env": {
      "browser": true,
      "node": true,
      "jest": true
   },
   "settings": {
      "react": {
         "version": "detect"
      }
   },
   "rules": {
      "prettier/prettier": "error",
      "indent": ["error", 3],
      "comma-dangle": ["error", "always-multiline"],
      "quotes": ["error", "single", { "avoidEscape": true }]
   },
   "plugins": ["jest", "react", "prettier",  "react-hooks"]
}
