{
   "parser": "babel-eslint",
   "extends": ["react", "plugin:jest/all"],
   "env": {
      "browser": true,
      "node": true,
      "jest": true
   },
   "settings": {
      "react": {
         "version": "detect"
      }
   },
   "rules": {
      "indent": ["error", 3],
      "comma-dangle": ["error", "always-multiline"],
      "jest/prefer-expect-assertions": "off",
      "jest/prefer-strict-equal": "off",
      "jest/prefer-spy-on": "off"
   },
   "plugins": ["jest", "react"]
}
