html {
   font-size: 10px; // allow accessible text to be implemented in the future
}

body {
   margin: 0;
   padding: 0;
}

p, h1, h2, h3, h4, h5 {
   margin: 0;
}

button:focus, select:focus, a:focus {
   outline: thin dotted;
   outline-color: #646464;
}